html, body{
	max-width: 100%;
	background-color: #00b0f0;
	min-width: 720px;
	font-family: "Roboto";
}
#circlemodal{
	width:500px;
	height:500px;
	left:5%;
	background-color: #cccccc;
	border: 4px solid white;
	overflow: hidden;
	position: absolute;
	z-index:2;
	border-radius: 16px;
}
.whitestuff{
	border: 4px solid white;
	position: absolute;
	overflow: hidden;
}
#circlemodal .persons{
	width:100%;
	height:90%;
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	background-color: #cccccc;
}
#circlemodal img{
	width: 500px;
	height:auto;
	border-radius: 16px;
}
#anna img, #margot img{
	top:-50px;
	position: relative;
}
#circlemodal p{
	z-index: 3;
	position: absolute;
	bottom: -25px;
	right: 10px;
	text-align: right;
	font-weight: 300;
	text-shadow: 2px 2px #0f0f0f;
}
#selectcontainer{
	position: absolute;
	bottom:0px;
	width:100%;
	height:10%;
	display: flex;
	justify-content:center;
	background-color: #cccccc;
}
.selectcircle{
	margin-top: 5px;
	height:40px;
	width: 40px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: white;
}
.checkback{
	position: relative;
	top:20px;
	left:20px;
	height:0px;
	width:0px;
	background-color: #FFB600;
	border-radius: 50%;
}
#infobox, #infobox .infopart{
	position: absolute;
	z-index: 2;
}
.textbox{
	position: relative;
	width: 80%
}
#infobox{
	width:50%;
	min-height: 500px;
	border: 2px solid white;
	right:10%;
	position: absolute;
}
.infopart{
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	padding: 20px 10px;
	height:90%;
	width:90%;
	visibility: hidden;
}
.fontcolor2 h1{
	font-weight: 300;
	text-decoration: underline;
}
.links{
	position: absolute;
	width:30%;
	bottom: 0px;
	height:64px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	justify-content:center;
}
.links a{
	margin-left: auto;
	margin-right: auto;
}
.linkedin{
	width:64px;
	height:64px;
}
#title{
	font-size: 10vw;
	position: relative;
	min-width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-weight: 300;
}
.buttonlink{
	width:300px;
	height:64px;
	background-color: #f79646;
	border-radius: 32px;
	font-size: 42px;
	color:white;
}
a .buttonlink, a{
	text-align: center;
	text-decoration: none;
	font-weight: 300;
	color: white;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.fakemargin{
	min-height:600px;
	position: relative;
	display: block;
	width:100%; 
}
.fakesmallmargin{
	min-height:100px;
	position: relative;
	display: block;
	width:100%;
}