html, body{
	max-width: 100%;
	background-color: #00b0f0;
	min-width: 720px;
	font-family: "Roboto";
}
#circlemodal{
	width:500px;
	height:500px;
	left:5%;
	background-color: white;
	border: 4px solid white;
	overflow: hidden;
	position: absolute;
	z-index:2;
}
.whitestuff{
	border: 4px solid white;
	position: absolute;
	overflow: hidden;
}
#circlemodal div{
	width:100%;
	height:33.3%;
	position: absolute;
	overflow: hidden;
}
#circlemodal img{
	width: 500px;
	height:500px;
}
#anna{
	top:0%;
	position: absolute;
}
#anna img{
	position: relative;
	top:-50%;
}
#margot{
	top:33.3%;
	position: absolute;
}
#margot img{
	position: relative;
	top:-50%;
}
#somerandomdude{
	top:66.6%;
	position: absolute;
}
#somerandomdude img{
	position: relative;
	top: -50%;
}
#infobox, #infobox .infopart{
	position: absolute;
	z-index: 2;
}
.textbox{
	position: relative;
	width: 80%
}
#infobox{
	width:50%;
	min-height: 500px;
	border: 2px solid white;
	right:10%;
	position: absolute;
}
.infopart{
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	padding: 20px 10px;
	height:90%;
	width:90%;
	visibility: hidden;
}
.fontcolor2 h1{
	font-weight: 300;
	text-decoration: underline;
}
.links{
	position: absolute;
	width:30%;
	bottom: 0px;
	height:64px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	justify-content:center;
}
.links a{
	margin-left: auto;
	margin-right: auto;
}
.linkedin{
	width:64px;
	height:64px;
}
#title{
	font-size: 10vw;
	position: relative;
	min-width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-weight: 300;
}
.buttonlink{
	width:300px;
	height:64px;
	background-color: #f79646;
	border-radius: 32px;
	font-size: 42px;
	color:white;
}
a .buttonlink, a{
	text-align: center;
	text-decoration: none;
	font-weight: 300;
	color: white;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.fakemargin{
	min-height:600px;
	position: relative;
	display: block;
	width:100%; 
}