.fontcolor1{
	color:#7f7f7f;
}
.fontcolor2{
	color:white;
}
.fontbold{
	font-weight: bold;
}
.fontlarge{
	font-size: 48px;
}
.fontmidlarge{
	font-size: 36px;
}
.fontmid{
	font-size: 28px;
}
.fontmidsmall{
	font-size: 22px;
}
.fontsmall{
	font-size: 16px;
}
.fontright{
	text-align: right;
}
.font3{
	font-family: "Roboto";
}