html,body{
	margin: 0px;
}
.fontcolor1{
	color:#7f7f7f;
}
.fontcolor2{
	color:white;
}
.fontcenter{
	text-align: center;
}
.fontbold{
	font-weight: bold;
}
.fontlarge{
	font-size: 48px;
}
.fontmidlarge{
	font-size: 36px;
}
.fontmid{
	font-size: 28px;
}
.fontmidsmall{
	font-size: 22px;
}
.fontsmall{
	font-size: 16px;
}
.fontright{
	text-align: right;
}
.font3{
	font-family: "Roboto";
}
@keyframes cool{
	0% {
		background-color: #ffff33;
	}
	100%{
		background-color: #D33C7C;
	}
}
.buttonlink:hover{
	animation-name:cool;
	animation-duration:1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
a .buttonlink, a{
	text-align: center;
	text-decoration: none;
	color: white;
}
.buttonlink p{
	position: relative;
	top:25%;
}
#footbar{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height:80px;
	background-color: rgba(0, 176, 240, .4);
	border-top: 2px solid #005e80;
	font-family: "Roboto";
	z-index:25;
}
#sitename{
	display: inline-block;
	font-size: 56px;
	font-family: "Roboto";
	font-weight: 300;
	margin: 12px;
}
#footlinkscontainer{
	display: flex;
	justify-content:center;
	width: 40%;
	position: absolute;
	top:12px;
	right:10%;

}
#footlinkscontainer a{
	margin: 0px auto;
}
#footlinkscontainer h4{
	margin: 0px;
	font-size: 48px;
	font-weight: 400;
}
/* #footlinkscontainer h4:before{
	content: "";
	width: 60%;
	height:2px;
	background-color: white;
	position: absolute;
	bottom: 0px;
	left:0px;
	visibility: hidden;
	  -webkit-transform: scaleX(0);
	  transform: scaleX(0);
	  -webkit-transition: all 0.3s ease-in-out 0s;
	  transition: all 0.3s ease-in-out 0s;
}
#footlinkscontainer h4:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/