html, body{
	max-width: 100%;
	background-color: #00b0f0;
}
#title{
	font-family: "Roboto";
	font-weight: 200;
	font-size: 10vw;
	width:100%;
	text-align: center;
	color:white;
}
#title div{
	display: inline-block;
	position: absolute;
}
.falsemargin{
	display: block;
	position: relative;
	width:100%;
	height:12vw;
}
#magicplace{
	position: relative;
	display: block;
	width:50%;
	height:50%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	overflow: hidden;
}
#ground{
	background-color: darkgreen;
	width:80%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	bottom:-90px;
	height:160px;
	z-index:7;
}
.circle{
	border-radius:50% 
}
.tree{
	z-index:3;
	width:200px;
	display:inline-block;
}
#tree1, #tree2{
	position: absolute;
}
#tree1{
	left:40px;
	bottom:-95px;
	transform: rotate(-25deg);
}
#tree2{
	right:40px;
	bottom:-95px;
	transform: rotate(25deg);
}
.treetrunk{
	width:60px;
	height: 200px;
	position: relative;
	top:-120px;
	margin-left: auto;
	margin-right: auto;
	background-color: #4d2600;
}
.treefoliage1 *, .treefoliage2 *{
	z-index: 4;
}
.treefoliage1part1{
	position: relative;
	border-bottom: 150px solid darkgreen;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	width:0;
	height:0;
}
.treefoliage1part2{
	border-bottom: 120px solid darkgreen;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	width:0;
	height:0;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:-80px;
	top:-25px;
}
.treefoliage1part3{
	border-bottom: 90px solid darkgreen;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	width:0;
	height:0;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:-60px;
	top:-50px;
}
.treefoliage2part1{
	position: relative;
	top:-20px;
	width:120px;
	left:0px;
	height:120px;
	background-color: darkgreen;
}
.treefoliage2part2{
	position: absolute;
	top:-40px;
	right:0px;
	width:120px;
	height:120px;
	background-color: darkgreen;
}
.treefoliage2part3{
	position: absolute;
	top:-60px;
	left:20px;
	width:120px;
	height:120px;
	background-color: darkgreen;
}
.treefoliage2part4{
	position: absolute;
	top:-80px;
	right:25px;
	width:120px;
	height:120px;
	background-color: darkgreen;
}
.treefoliage2part5{
	position: absolute;
	top:-100px;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	width:120px;
	height:120px;
	background-color: darkgreen;
}
.buttonlink{
	font-size: 52px;
	font-weight: 300;
	height:100px;
	width:40%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f79646;
	border-radius: 32px;
}
a .buttonlink, a{
	text-align: center;
	text-decoration: none;
	color: white;
}
.buttonlink p{
	position: relative;
	top:20px;
}