html, body{
	max-width: 100%;
	background-color: #00b0f0;
}
#title{
	font-family: "Roboto";
	font-weight: 200;
	font-size: 10vw;
	width:100%;
	text-align: center;
	color:white;
}
#createdBy {
	font-family: "Roboto";
	font-weight: 100;
	font-size: 5vw;
	width:100%;
	color:white;
}

#aboutTable {
	margin: 0 auto;
	border: 1px solid white;
	width: 700px;
	font-family: "Roboto";
	color: white;
	text-align: center;
}

#aboutTable table {
	margin: 0 auto;
}

#aboutTable td {
	margin: 0 auto;
	border: 1px solid white;
}

.headshot {
	width: 200px;
	height: auto;
}
.headshotDiv {
	text-align: center;
}

#title div{
	display: inline-block;
	position: absolute;
}
.falsemargin{
	display: block;
	position: relative;
	width:100%;
	height:12vw;
}
#magicplace{
	position: relative;
	display: block;
	width:50%;
	height:50%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	overflow: hidden;
}
#ground{
	background-color: darkgreen;
	width:100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	bottom:-90px;
	height:160px;
	z-index:7;
}
.circle{
	border-radius:50% 
}
.tree{
	z-index:3;
	width:200px;
	display:inline-block;
}
#tree1, #tree2{
	position: absolute;
}
#tree1{
	left:40px;
	bottom:-95px;
	transform: rotate(-15deg);
}
#tree2{
	right:40px;
	bottom:-95px;
	transform: rotate(15deg);
}
.treetrunk{
	width:60px;
	height: 200px;
	position: relative;
	top:-120px;
	margin-left: auto;
	margin-right: auto;
	background-color: #4d2600;
}
.treefoliage1 *, .treefoliage2 *{
	z-index: 4;
}
.treefoliage1part1{
	position: relative;
	border-bottom: 150px solid darkgreen;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	width:0;
	height:0;
}
.treefoliage1part2{
	border-bottom: 120px solid darkgreen;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	width:0;
	height:0;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:-80px;
	top:-25px;
}
.treefoliage1part3{
	border-bottom: 90px solid darkgreen;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
	width:0;
	height:0;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:-60px;
	top:-50px;
}
.treefoliage2part1{
	position: relative;
	top:-20px;
	width:120px;
	left:0px;
	height:120px;
	background-color: darkgreen;
}
.treefoliage2part2{
	position: absolute;
	top:-40px;
	right:0px;
	width:120px;
	height:120px;
	background-color: darkgreen;
}
.treefoliage2part3{
	position: absolute;
	top:-60px;
	left:20px;
	width:120px;
	height:120px;
	background-color: darkgreen;
}
.treefoliage2part4{
	position: absolute;
	top:-80px;
	right:25px;
	width:120px;
	height:120px;
	background-color: darkgreen;
}
.treefoliage2part5{
	position: absolute;
	top:-100px;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	width:120px;
	height:120px;
	background-color: darkgreen;
}
.buttonlink{
	font-size: 52px;
	font-weight: 300;
	height:100px;
	width:40%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f79646;
	border-radius: 32px;
}
a .buttonlink, a{
	text-align: center;
	text-decoration: none;
	color: white;
}
.buttonlink p{
	position: relative;
	top:20px;
}
.happyface{
	z-index:9;
	position: absolute;
	left:50px;
	top:10px;
	width:100px;
	height:70px;
}
.eye{
	width:20px;
	background-color: black;
	height:20px;
	position: absolute;
	border-radius: 50%;
}
.eyeone{
	left:10px;
}
.eyetwo{
	right:10px;
}
.smiley{
	width:60px;
	height:30px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: black;
	bottom:0px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.smileyoverlay{
	width:62px;
	height:10px;
	position: relative;
	left:-1px;
	top:-1px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: darkgreen;
}
#tree2 .happyface{
	top:-20px;
}
.sun{
	width:150px;
	height:150px;
	position: absolute;
	right:50px;
	top:50px;
}
.sunbody{
	border-radius: 50%;
	width:162px;
	height:162px;
	left:-6px;
	top:-5px;
	position: absolute;
	background-color: #ffff33;
	z-index:2;
}
.suncorona{
	width:150px;
	height:150px;
}
.coronapart{
	position: absolute;
	width:150px;
	height:150px;
	background-color: #f79646;
}
.lazycorona2{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.sun .smileyoverlay{
	background-color: #ffff33
}
.sun .happyface{
	position: absolute;
	top:40px;
	left:25px;
}
/*Buildings CSS*/
.building{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
}
#school{
	width:350px;
	height:300px;
	bottom:40px;
	z-index: 8;
}
#schoolbody,.schoolbody{
	width:300px;
	height:200px;
	bottom: 0px;
	background-color: #ffeecc;
}
#schooltop,.schooltop{
	width:0;
	height: 0;
	position: absolute;
	border-bottom: 75px solid #ffeecc;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	bottom: -87.5px;
	left: -150px;
	

}
#schoolroof,.schoolroof{
	width:0;
	height: 0;
	border-bottom: 87.5px solid #805500;
	border-left: 175px solid transparent;
	border-right: 175px solid transparent;
	bottom: 200px;
}
.window{
	width:50px;
	height:80px;
	background-color: #cce6ff;
	border:4px solid #b37700;
	position: absolute;
}
#schwindow1,.schwindow1{
	top:20px;
	left:50px;
}
#schwindow2,.schwindow2{
	top:20px;
	right:50px;
}
.windowhorpane{
	width:100%;
	height:4px;
	position: absolute;
	top:38px;
	background-color: #b37700;
}
.windowvertpane{
	height:100%;
	width:4px;
	position: absolute;
	left:23px;
	background-color: #b37700;
}
.windowglare{
	position: absolute;
	width:10px;
	height:20px;
	background-color: #e6ffff;
	top:4px;
	right:2px;
	border-top-right-radius: 50%;
}
.innerglare{
	position: absolute;
	width:9px;
	height:19px;
	background-color: #cce6ff;
	bottom: 0px;
	left:0px;
	border-top-right-radius: 75%;
}
.door{
	width:50px;
	height:80px;
	position: absolute;
	bottom: 0px;
	border-width: 4px 4px 0px 4px;
	border-style: solid;
	border-color: #b37700;
	background-color: #cc6600;
}
.knob{
	width: 5px;
	height: 5px;
	position: absolute;
	right:2px;
	top:39px;
	background-color: yellow;
}
.buildingli{
	display: inline-block;
}
.fakecontainer{
	position: relative;
	width:100%;
	min-height: 300px;
}
#schoollione{
	position: absolute;
	width:350px;
	height:300px;
}
#schoollitwo{
	position: absolute;
	width:350px;
	height:300px;

}
.cloud{
	position: absolute;
	top:90px;
	left:100px;
	width:200px;
	height:60px;
	border-radius: 32px;
	background: #d1d1e0;
	background: #d1d1e0;
	background: #d1d1e0;
}
.cloudoff1{
	width:80px;
	height:80px;
	background-color: #d1d1e0;
	position: absolute;
	top:-30px;
	left:10px;
}
.cloudoff2{
	width:100px;
	height:100px;
	background-color: #d1d1e0;
	position: absolute;
	top:-50px;
	left:50px;
}
.cloudoff3{
	width:80px;
	height:80px;
	background-color: #d1d1e0;
	position: absolute;
	top:-30px;
	right:10px;
}
.mutedface{
	width:100px;
	height:50px;
	position: absolute;
}
.closedeye{
	width:10px;
	height:30px;
	background-color: black;
	position: absolute;
	border-radius: 16px;
}
.ceyeone{
	left:10px;
}
.ceyetwo{
	right:10px;
}
.mutedmouth{
	width:40px;
	height:10px;
	bottom:5px;
	border-radius: 16px;
	background-color: black;
}
/* Actual Stuff */
.cooltextcontainer{
	width:60%;
	position: relative;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}
.cooltextcontainer li{
	list-style-type: none;
	text-align: center;
	margin: 60px auto;
	overflow:hidden;
}
.fakebargraph{
	width:50%;
	height:100px;
	border: 4px solid white;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.textbuildli{
	bottom: 0px;
	text-align: center;
	display: inline-block;
	position: relative;
	visibility: hidden;
}
#textone{
	float:right;
	clear: right;
	right:100px;
}
#texttwo{
	float:left;
	left:40px;
}
.bars{
	opacity:1;
}
.barone{
	height:50px;
	width:80%;
	background-color: green;
}
.bartwo{
	height: 50px;
	width:30%;
	background-color: #f79646;
}
#solarpanel{
	-webkit-transform: rotateX(60deg); /* Safari */
    transform: rotate3d(2,1.25,-1,45deg);
    background-color: #f2e6ff;
    width:200px;
    height:200px;
    position: relative;
}
.grid{
	border:1px solid darkblue;
	width:150px;
	height:150px;
	position: absolute;
	left: 0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	bottom:25px;
	overflow: hidden;
}
.horline,.vertline{
	background-color: darkblue;
}
.horline{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left:0px;
}
