
	body{
		background-color: blue;
	}
	.mainformbody{
		background-color: transparent;
		z-index: 2;
		position: relative;
		margin-top: 100px;
		margin-bottom: 100px;
		width:80%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 32px;
	}
	.sideformbody{
		background-color: #005D81;
		z-index: 1;
		position: fixed;
		visibility: hidden;
		right:0%;
		top:0%;
		width:40%;
		height:100%;
		min-height: 300px;
		border-left: 8px solid white;
	}
	#enter{
		background-color: #f79646;
		font-family: "Roboto";
		font-size: 32px;
		font-weight: 300;
		text-align: center;
		width:25%;
		height: 48px;
		border-radius: 32px;
		color:white;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	#gassystuff{
		top:5%;
		position: relative;
		width:90%;
		margin-left: auto;
		margin-right: auto;
	}
	#accrating{
		text-align: center;
	}
	#check2{
		top:12px;
		right:3%;
	}
	.seperator{
		width: 100%;
		height:4px;
		background-color: white;
		position: absolute;
		top:35%;
	}
	#dachart{
		border-left:4px solid white;
		border-bottom: 4px solid white;
		height:40%;
		width:60%;
		position: absolute;
		display: block;
		top:35%;
		left:0;
		right:0;
		margin-left: auto;
		margin-right: auto;
	}
	.graphpartlabel{
		top:44%;
		font-size: 120%;
		left:-90px;
		display: inline-block;
		position: absolute;
	}
	.bargraphkwh{
		background-color: #73D8FF;
		position: relative;
	}
	.bargraphkwhcost{
		background-color: #79C000;
		position: relative;
	}
	.bargraphgas{
		background-color: #F8007E;
	}
	.bargraphgascost{
		background-color: #79C000;
	}
	.graphbarpart{
		position: relative;
		clear: both;
		display: block;
	}
	#xaxis{
		height: 20px;
		width: 80%;
		top:5px;
		position: relative;
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}
	.formsegment{
		position: relative;
		max-width: 80%;
		margin: 40px auto;
	}
	.coolformtext{
		max-width: 50%;
		position: relative;
		display: block;
		margin: 10px auto;
	}
	input.coolformtext{
		border:0px;
		border-radius: 32px;
		padding: 6px 8px;
		text-align: center;
		overflow: hidden;
	}
	.labeltext{
		color: #ffffff;
		text-align: center;
		display: block;
		position: relative;
		margin: 10px auto;
		width:auto+20px;
	}
	.outercboxcircle{
		display: block;
		width:30px;
		height:30px;
		background-color: white;
	}
	.foscheck input{
		display: none;
	}
	.foscheck label{
		display: block;
		width:20px;
		height:20px;
		background: red;
		cursor: pointer;
	}
	#roofsame:checked + label{
		background: blue;
	}
	#fakeselect{
		list-style-type: none;
		right:7%;
		top:-26px;
		position: absolute;
		width:35%;
		height:48px;
		padding-left: 4px;
		background-color: white;
		overflow: hidden;
		border-radius: 32px;
		z-index:7;
	}
	#fakeselectB{
		position:relative;
		display: block;
		list-style-type: none;
		width:40%;
		height:48px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		background-color: white;
		overflow: hidden;
		border-radius: 32px;
		z-index:7;
	}
	.description{
		position: absolute;
		left:25%;
		bottom:110%;
		padding: 8px;
		min-width: 100px;
		background-color: inherit;
		text-align:  center;
		border: 1px solid white;
		border-radius: 16px;
		color:black;
		font-size: 16px;
	}

	#fakeselectC{
		position:relative;
		display: block;
		visibility: hidden;
		opacity: 1;
		list-style-type: none;
		top:10%;
		width:80%;
		height:48px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		background-color: white;
		border-radius: 32px;
		z-index:7;
	}
	#fakeselect li, #fakeselectB li, #fakeselectC li, .fakeselectitem{
		font-size: 20px;
		height:38px;
		padding-left: 8px;
		margin: 1px 0px;
		position: relative;
		display: block;
		top: 10px;
		background-color: transparent;
		text-align: left;
	}
	.fakeselectitem{
		border-bottom: 1px solid black;
	}

	.fakecheck{
		position: absolute;
		height:40px;
		width:40px;
		background-color: white;
		border-radius: 50%;
		right:10%;
	}
	.fakeradio{
		height:40px;
		width:40px;
		background-color: white;
		border-radius: 50%;
		display: inline-block;
		position: relative;
	}
	#radioselectoptions1 .fakeradio{
		left: 10%;
		margin: 10px;
	}
	.checkback,.radioback{
		position: relative;
		top:20px;
		left:20px;
		height:0px;
		width:0px;
		background-color: #FFB600;
		border-radius: 50%;
	}
	.triangledown{
		display: inline-block;
		position: absolute;
		right:8px;
		top:18px;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid black;
	}
	.fontcolor1{
		color:#ffffff;
	}
	.easymargin{
		margin-right: 40px;
	}
	.centertextdiv{
		position: relative;
		display: block;
		min-width: 40%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#radioselectoptions1{
		display: inline-block;
		position: relative;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	#radioselectoptions1 span{
		margin: 5px;
		position: absolute;
		right:10%;
	}
	.submitbutton{
		display: block;
		text-align: center;
		height:60px;
		width:400px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	#ultralazy{
		width:60%;
		position: relative;
		top:30px;
	}
	#ultralazy input{
		border: 8px solid white;
		border-radius: 24px;
	}

	.alert{
		position: relative;
		padding: 7px;
		display: flex;
		margin: 40px auto;
		max-width: 30%;
		position: absolute;
		right:10%;
		color: #FE4042;
		font-style: italic;
		font-size: 14px;
		border-radius: 32px;
	}

	.submitbutton {
		background-color: #f79646;
		border-radius: 32px;
		font-family: "Roboto";
		color:white;
		border: 0px;
		font-size: 32px;
		width: 200px;
		height: 60px;
		font-weight: 300;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
	/*waiting sun css*/
	#magicplace{
		position: absolute;
		display: block;
		width:100%;
		min-width: 800px;
		min-height: 500px;
		overflow: hidden;
	}
	.happyface{
		z-index:9;
		position: absolute;
		left:50px;
		top:10px;
		width:100px;
		height:70px;
	}
	.eye{
		width:20px;
		background-color: black;
		height:20px;
		position: absolute;
		border-radius: 50%;
	}
	.eyeone{
		left:10px;
	}
	.eyetwo{
		right:10px;
	}
	.smiley{
		width:60px;
		height:30px;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		background-color: black;
		bottom:0px;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
	.smileyoverlay{
		width:62px;
		height:10px;
		position: relative;
		left:-1px;
		top:-1px;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		background-color: darkgreen;
	}
	.sun{
		width:150px;
		height:150px;
		position: absolute;
		right:50px;
		top:50px;
	}
	.sunbody{
		border-radius: 50%;
		width:162px;
		height:162px;
		left:-6px;
		top:-5px;
		position: absolute;
		background-color: #ffff33;
		z-index:2;
	}
	.suncorona{
		width:150px;
		height:150px;
	}
	.coronapart{
		position: absolute;
		width:150px;
		height:150px;
		background-color: #f79646;
	}
	.lazycorona2{
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	.sun .smileyoverlay{
		background-color: #ffff33
	}
	.sun .happyface{
		position: absolute;
		top:40px;
		left:25px;
	}
	.suntext{
		font-family: "Roboto";
		font-weight: 200;
		font-size: 5vw;
		width:50%;
		text-align: center;
		color:white;
	}
/* Mobile Stuff */
