
body{
	background-color: #00b0f0;
}
.mainformbody{
	background-color: #f1d8d8;
	z-index: 1;
	position: relative;
	margin-top: 100px;
	width:50%;
	left:5%;
	border: 8px solid white;
	border-radius: 32px;
}
.sideformbody{
	background-color: #f1d8d8;
	z-index: 1;
	position: fixed;
	right:0%;
	top:0%;
	width:40%;
	height:100%;
	min-height: 300px;
	border-left: 8px solid white;
}
#enter{
	background-color: green;
	width:25%;
	height: 48px;
	border-radius: 32px;
}
#gassystuff{
	top:15%;
	position: relative;
	width:90%;
	margin-left: auto;
	margin-right: auto;
}
#accrating{
	text-align: center;
}
#check2{
	top:12px;
	right:3%;
}
.seperator{
	width: 100%;
	height:4px;
	background-color: white;
	position: absolute;
	top:35%;
}
#dachart{
	border-left:4px solid white;
	border-bottom: 4px solid white;
	height:37%;
	width:60%;
	position: absolute;
	display: block;
	bottom:60px;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
}
.graphpartlabel{
	top:44%;
	font-size: 120%;
	left:-90px;
	display: inline-block;
	position: absolute;
}
.bargraphkwh{
	background-color: blue;
	position: relative;
}
.bargraphkwhcost{
	background-color: green;
	position: relative;
}
.bargraphgas{
	background-color: orange;
}
.bargraphgascost{
	background-color: purple;
}
.graphbarpart{
	position: relative;
	clear: both;
	display: block;
}
#xaxis{
	height: 20px;
	width: 80%;
	top:5px;
	position: relative;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.font3{
	font-family: "Roboto";
}
.formsegment{
	position: relative;
	display: flex;
	max-width: 80%;

	margin: 40px auto;
}
.coolformtext{
	max-width: 30%;
	position: absolute;
	right:10%;
}
input.coolformtext{
	border:0px;
	border-radius: 32px;
	text-align: center;
	overflow: hidden;
}
.labeltext{
	color: #7f7f7f;
	text-align: center;
	width:auto+20px;
}
.outercboxcircle{
	display: block;
	width:30px;
	height:30px;
	background-color: white;
}
.foscheck input{
	display: none;
}
.foscheck label{
	display: block;
	width:20px;
	height:20px;
	background: red;
	cursor: pointer;
}
#roofsame:checked + label{
	background: blue;
}
#fakeselect{
	list-style-type: none;
	right:7%;
	top:-26px;
	position: absolute;
	width:35%;
	height:48px;
	padding-left: 4px;
	background-color: white;
	overflow: hidden;
	border-radius: 32px;
	z-index:7;
}
#fakeselectB{
	position:relative;
	display: block;
	list-style-type: none;
	width:40%;
	height:48px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: white;
	overflow: hidden;
	border-radius: 32px;
	z-index:7;
}
#fakeselectC{
	position:relative;
	display: block;
	visibility: hidden;
	opacity: 1;
	list-style-type: none;
	top:20%;
	width:80%;
	height:48px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	background-color: white;
	border-radius: 32px;
	z-index:7;
}
#fakeselect li, #fakeselectB li, #fakeselectC li, .fakeselectitem{
	font-size: 20px;
	height:38px;
	padding-left: 8px;
	margin: 1px 0px;
	position: relative;
	display: block;
	top: 10px;
	background-color: transparent;
	text-align: left;
}
.fakeselectitem{
	border-bottom: 1px solid black;
}

.fakecheck{
	position: absolute;
	height:40px;
	width:40px;
	background-color: white;
	border-radius: 50%;
	right:10%;
}
.fakeradio{
	height:40px;
	width:40px;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	position: relative;
}
#radioselectoptions1 .fakeradio{
	left: 10%;
	margin: 10px;
}
.checkback,.radioback{
	position: relative;
	top:20px;
	left:20px;
	height:0px;
	width:0px;
	background-color: red;
	border-radius: 50%;
}
.triangledown{
	display: inline-block;
	position: absolute;
	right:8px;
	top:18px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid black;
}
.fontcolor1{
	color:#7f7f7f;
}
.easymargin{
	margin-right: 40px;
}
.centertextdiv{
	position: relative;
	display: block;
	min-width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#radioselectoptions1{
	display: inline-block;
	position: relative;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#radioselectoptions1 span{
	margin: 5px;
	position: absolute;
	right:10%;
}
.alert {
	position: relative;
	padding: 7px;
	display: flex;
	margin: 40px auto;
	max-width: 30%;
	position: absolute;
	right:10%;
	color: #FE4042;
	font-style: italic;
	font-size: 14px;
	border-radius: 32px;
}